<div id="main-menu" class="menu">
    <button class="continue" disabled>Continue</button>
    <button class="new-game">New Game</button>
    <button class="settings">Settings</button>
</div>

<div id="settings-menu" class="menu">
    <h1>Volume Settings:</h1>
    <div class="slider">
        <label for="master">Master:</label>
        <input type="range" id="master" min="0" max="100" />
    </div>
    <div class="slider">
        <label for="sound-effects">Sound Effects:</label>
        <input type="range" id="sound-effects" min="0" max="100" />
    </div>
    <div class="slider">
        <label for="bg-music">Background Music:</label>
        <input type="range" id="bg-music" min="0" max="100" />
    </div>
    <button class="done">Done</button>
</div>
